/* for large device */
@media screen and (min-width: 992px) {
  .about-area .about-podcast br {
    display: none;
  }
  .about-area .about-podcast p:last-child {
    margin-top: 10px;
  }
  .about-area .about-rating {
    align-items: center;
  }
  .details-card-content .details-card {
    padding: 15px;
  }
}

/* for small device */
@media screen and (max-width: 576px) {
  /* shared style */
  .section-heading {
    font-size: 1.8rem;
  }
  #details,
  #feature,
  #about {
    padding: 40px 0;
  }
  .container {
    width: 90%;
  }
  /* nav section */
  .navbar {
    padding: 20px;
    margin: 0;
    width: 100%;
  }
  .navbar .logo-img {
    width: 137px;
  }
  .subscribe-btn {
    display: none;
  }
  .navbar ul {
    display: none;
  }
  .navbar .hamburger-menu {
    display: block;
  }
  /* banner section */

  #banner {
    background-size: contain;

    padding: 40px 0;
  }
  .circle {
    max-width: 200px;
    margin: 0 auto;
    position: relative;
    top: 90px;
  }
  .circle img {
    width: 100%;
  }
  .microphone-img img {
    max-width: 55px;
  }

  .banner-img .microphone-img {
    position: absolute;
    top: 75%;
    left: 42%;
    display: block;
  }
  .banner-img .badge {
    top: 50%;
    left: 62%;
  }
  .banner-content-description h1 {
    font-size: 2.5rem;
    margin-top: 124px;
  }
  .spotify-btn {
    gap: 5px;
    padding: 0 15px;
    font-size: 0.9rem;
  }
  /* about section */

  .about-area .about-podcast .section-heading {
    font-size: 2rem;
  }
  .about-area .about-podcast p {
    font-size: 0.9rem;
    line-height: 20px;
  }
  .about-area .about-podcast br {
    display: none;
  }
  .about-area .about-podcast p:last-child {
    margin-top: 10px;
  }
  .about-area .divider {
    margin: 40px 0;
  }
  .about-area .about-rating {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  .about-area .about-rating .about-rating-card h3 {
    font-size: 2.5rem;
  }
  .about-area .about-rating .about-rating-card p {
    font-size: 0.7rem;
  }

  /* details section */
  .details-card-content {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 16px;
  }
  .details-card-content .details-card {
    padding: 24px;
  }
  .details-card-content .details-card h3 {
    font-size: 1.4rem;
  }
  .details-card-content .details-card:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .details-card-content .details-card:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .details-card-content .details-card:nth-child(3) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .details-card-content .details-card:nth-child(4) {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  /* feature section */
  .feature-cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }

  /* host section */
  #host {
    padding-bottom: 40px;
  }
  .host-content .host-bio {
    flex-direction: column;
  }
  .host-description {
    text-align: center;
  }
  .host-bio .host-description h3 {
    font-size: 1.5rem;
  }
  .host-description .host-social-icon {
    justify-content: center;
  }

  /* footer section */
  #footer {
    padding: 40px 0;
  }
  .footer-img {
    max-width: 220px;
    margin: 0 auto 24px;
  }
  .footer-social {
    gap: 20px;
    flex-wrap: wrap;
  }
}
