/* for small device */
@media screen and (max-width: 576px) {
  /* nav section */
  .navbar {
    padding: 20px;
    margin: 0;
    width: 100%;
  }
  .navbar .logo-img {
    width: 137px;
  }
  .subscribe-btn {
    display: none;
  }
  .navbar ul {
    display: none;
  }
  .navbar .hamburger-menu {
    display: block;
  }
  /* banner section */

  #banner {
    background-size: contain;
    background-position: center center;
    padding: 40px 0;
  }
  .circle {
    max-width: 200px;
    margin: 0 auto;
    position: relative;
    top: 90px;
  }
  .circle img {
    width: 100%;
  }
  .microphone-img img {
    max-width: 55px;
  }

  .banner-img .microphone-img {
    position: absolute;
    top: 75%;
    left: 42%;
    display: block;
  }
  .banner-img .badge {
    top: 50%;
    left: 62%;
  }
  .banner-content-description h1 {
    font-size: 2.5rem;
    margin-top: 124px;
  }
  .spotify-btn {
    gap: 5px;
    padding: 0 15px;
    font-size: 0.9rem;
  }
}
