@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #1a0b2e;
}
/* shared style */
.text-center {
  text-align: center;
}
.display-flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.container {
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
}
.section-heading {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 700;
}
.btn {
  display: block;
  padding: 12px 16px;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background-image: linear-gradient(to top right, #f7e93f, #fb09b4, #9100f8);

  transition: transform 0.3s ease-in-out;
}
.btn:hover {
  transform: scale(1.05);
}
.btn:hover i {
  transform: translateX(8px);
}

/* main style */

/* nav section */
nav {
  border-bottom: 1px solid #412567;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
.navbar .logo-img {
  width: 220px;
}
.navbar .logo-img img {
  width: 100%;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.navbar ul li a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 30px;
  font-weight: 500;
  cursor: pointer;
}
.navbar .hamburger-menu {
  display: none;
}

/* banner section */
#banner {
  background-image: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 0;
}

.banner-img {
  position: relative;
  margin: 0 auto 40px;

  max-width: 350px;
}

.banner-img .microphone-img {
  position: absolute;
  top: 25%;
  left: 34%;
}
.banner-img .badge {
  position: absolute;
  top: 8%;
  left: 75%;
  background-color: #00ff88;
  color: #1a0b2e;
  padding: 8px 16px;
  font-size: 1.1rem;
  font-weight: 600;
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
  border-radius: 30px;
  text-transform: uppercase;
}

.banner-content-description h1 {
  font-size: 3.7rem;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 8px;
}
.banner-content-description p {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 24px;
}
.banner-content-btn {
  gap: 8px;
}
.spotify-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 12px 20px;
  text-transform: capitalize;
  transition: all 0.3s ease-in;
}
.spotify-btn:hover {
  background-image: linear-gradient(to bottom left, #f7e93f, #fb09b4, #9100f8);
  transform: scale(1);
}
.spotify-btn img,
.subscribe-btn img {
  display: inline-block;
}
.message-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 12px 20px;
  background-image: none;
  background-color: transparent;
  border: 1px solid #00ff88;
}

/* about section */
#about {
  padding: 50px 0 120px;
}
.about-area .about-podcast .section-heading {
  margin-bottom: 16px;
}
.about-area .about-podcast p {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  line-height: 32px;
}

.about-area .divider {
  width: 100%;
  height: 1px;
  background-color: #ffff;
  opacity: 0.1;
  margin: 80px 0;
}

.about-area .about-rating {
  display: flex;
  justify-content: space-between;
}
.about-area .about-rating .about-rating-card h3 {
  font-size: 3rem;
  color: #00ff88;
  font-weight: 900;
  margin-bottom: 16px;
  text-transform: capitalize;
}
.about-area .about-rating .about-rating-card p {
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
  line-height: 20px;
}

/* details section */
#details {
  padding: 120px 0;
}
.details-content .section-heading {
  margin-bottom: 40px;
}
.details-card-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}
.details-card-content .details-card {
  background-color: rgba(53, 17, 101, 0.4);
  padding: 40px;
  border-radius: 40px;
}
.details-card-content .details-card img {
  max-width: 60px;
}
.details-card-content .details-card h3 {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 16px 0;
  font-weight: 700;
}
.details-card-content .details-card p {
  color: #ffffff;
  font-size: 1rem;
  line-height: 24px;
}
.details-card-content .details-card:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/3;
}
.details-card-content .details-card:nth-child(2) {
  grid-column: 2/4;
  grid-row: 1/2;
}
.details-card-content .details-card:nth-child(3) {
  grid-column: 2/4;
  grid-row: 2/2;
}
.details-card-content .details-card:nth-child(4) {
  grid-column: 1/3;
  grid-row: 3/3;
}

/* feature section */
#feature {
  padding: 120px 0;
}
.feature-content .section-heading {
  margin-bottom: 40px;
}
.feature-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.feature-single-card {
  border-radius: 24px;
  background-color: #250d44;
}
.feature-single-card .feature-card-video iframe {
  width: 100%;
  height: 100%;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}
.feature-single-card .feature-card-content {
  padding: 24px;
}
.feature-card-content h3 {
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 12px;
  font-weight: 700;
}
.feature-card-content p {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 12px;
  line-height: 24px;
}
.feature-card-content .video-duration {
  display: flex;
  gap: 6px;
  align-items: center;
}
.feature-card-content .video-duration span {
  color: #00ff88;
  font-weight: 600;
}

/* host section */
.host-content .section-heading {
  margin-bottom: 40px;
  text-align: center;
  text-transform: capitalize;
}
.host-content .host-bio {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 40px;
  border-radius: 40px;
  background-color: rgba(53, 17, 101, 0.4);
}
.host-description {
  text-align: left;
}
.host-bio .host-description h3 {
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 16px;
  text-transform: capitalize;
}
.host-bio .host-description p {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 16px;
  line-height: 24px;
}
.host-description .host-social-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}
.host-description .host-social-icon a {
  padding: 10px;
  border: 1px solid #533c72;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-top: 10px;
  display: inline-block;
}
