@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #1a0b2e;
}
/* shared style */
.text-center {
  text-align: center;
}
.display-flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.container {
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
}
.section-heading {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 700;
}
.btn {
  display: block;
  padding: 12px 16px;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background-image: linear-gradient(to top right, #f7e93f, #fb09b4, #9100f8);

  transition: transform 0.3s ease-in-out;
}
.btn:hover {
  transform: scale(1.05);
}
.btn:hover i {
  transform: translateX(8px);
}

/* main style */

/* nav section */
nav {
  border-bottom: 1px solid #412567;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
.navbar .logo-img {
  width: 220px;
}
.navbar .logo-img img {
  width: 100%;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.navbar ul li a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 30px;
  font-weight: 500;
  cursor: pointer;
}
.navbar .hamburger-menu {
  display: none;
}

/* banner section */
#banner {
  background-image: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 0;
}

.banner-img {
  position: relative;
  margin: 0 auto 40px;

  max-width: 350px;
}

.banner-img .microphone-img {
  position: absolute;
  top: 25%;
  left: 34%;
}
.banner-img .badge {
  position: absolute;
  top: 8%;
  left: 75%;
  background-color: #00ff88;
  color: #1a0b2e;
  padding: 8px 16px;
  font-size: 1.1rem;
  font-weight: 600;
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
  border-radius: 30px;
  text-transform: uppercase;
}

.banner-content-description h1 {
  font-size: 3.7rem;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 8px;
}
.banner-content-description p {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 24px;
}
.banner-content-btn {
  gap: 8px;
}
.spotify-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 12px 20px;
  transition: all 0.3s ease-in;
}
.spotify-btn:hover {
  background-image: linear-gradient(to bottom left, #f7e93f, #fb09b4, #9100f8);
  transform: scale(1);
}
.spotify-btn img,
.subscribe-btn img {
  display: inline-block;
}
.message-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 12px 20px;
  background-image: none;
  background-color: transparent;
  border: 1px solid #00ff88;
}

/* about section */
#about {
  padding: 50px 0 120px;
  border: 1px solid #fff;
}
.about-area .about-podcast .section-heading {
  margin-bottom: 16px;
}
.about-area .about-podcast p {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  line-height: 32px;
}

.about-area .divider {
  width: 100%;
  height: 1px;
  background-color: #ffff;
  opacity: 0.1;
  margin: 80px 0;
}

.about-area .about-rating {
  justify-content: space-between;
}
.about-area .about-rating .about-rating-card h3 {
  font-size: 3rem;
  color: #00ff88;
  font-weight: 900;
  margin-bottom: 16px;
  text-transform: capitalize;
}
.about-area .about-rating .about-rating-card p {
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
  line-height: 20px;
}
